header {
	background-color: @color-pink;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	a {
		color: @white;

		&:hover {
			color: @color-salmon;
		}

		&:focus {
			text-decoration: none;
			color: @white;
		}
	}

	.header-auth {
		display: flex;
		flex: 10 auto;
		justify-content: flex-end;

		&__item {
			margin-right: 20px;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}