{% load staticfiles %}
<html>
<head>
	<meta charset="UTF-8">
	<title>Лизаветин питонячий блоУг</title>
	<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
	<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lobster&amp;subset=cyrillic" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
	<script src="https://use.fontawesome.com/283a5ff424.js"></script>
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
<header>
	<div><a href="{% url 'post_list' %}"><h2>Лиза и Django</h2></a></div>
	<div><a href="{% url 'post_list' %}"><h2>Хочу в IRK.ru</h2></a></div>
	{% if user.is_authenticated %}
		<div class="header-auth">
			<div class="header-auth__item"><a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span> Добавить пост</a></div>
			<div class="header-auth__item"><span>{{ user }}<a href="{% url 'logout' %}?next={% url 'post_list' %}"> Выйти <i class="fa fa-sign-out"></i></a></span></div>
		</div>
	{% else %}
		<div class="header-auth">
			<div class="header-auth__item"><a href="{% url 'login' %}">Войти <i class="fa fa-sign-in"></i></a></div>
			<div class="header-auth__item"><a href="{% url 'register' %}">Зарегестрироваться <i class="fa fa-user-plus"></i></a></div>
		</div>
	{% endif %}
</header>

<section class="main-content">

{% block content %} {% endblock %}

</section>

<footer>
	<div>
		<a href="https://twitter.com/lisaveta_k" target="_blank"><i class="fa fa-twitter"></i></a>
		<a href="https://github.com/Lisaveta-K" target="_blank"><i class="fa fa-github"></i></a>
		<a href="https://instagram.com/lisaveta_k" target="_blank"><i class="fa fa-instagram"></i></a>
		<a href="https://vk.com/khudyakova_lisa" target="_blank"><i class="fa fa-vk"></i></a>
		<a href="https://www.facebook.com/elizaveta.khudiakova" target="_blank"><i class="fa fa-facebook"></i></a>
	</div>
	<div>
		<a href="https://github.com/Lisaveta-K/djangoblog" target="_blank"><h3>Этот проект на GitHub</h3></a>
	</div>
</footer>
</body>
</html>