{% extends "./base.html" %}

	{% block content %}
		<div class="post-list">
	   		<div class="post-list__item">
		   		<div class="post-list__thumbnail">
		   			{% load thumbnail %}
			   		{% thumbnail post.image "300x300" crop="center" as im %}
			    		<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
					{% endthumbnail %}
				</div>
				<div class="post-list__content">
		   			<span>Дата публикации: {{ post.published_date|date:"d M Y" }}</span>
		   			<h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
		        	<div>{{ post.text|safe }}</div>
		        	<b>Автор: {{ post.author }}</b>
	        	</div>
	   		</div>
		</div>
	{% endblock %}