	{% extends "./base.html" %}

	{% block content %}
		<div class="post-list">
		{% for post in posts %}
	   		<div class="post-list__item">
		   		<div class="post-list__thumbnail">
		   			{% load thumbnail %}
			   		{% thumbnail post.image "100x100" crop="center" as im %}
			    		<a href="{% url 'post_detail' pk=post.pk %}"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a>
					{% endthumbnail %}
				</div>
				<div class="post-list__content">
		   			<span>Дата публикации: {{ post.published_date|date:"d M Y" }}</span>
		   			<h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
		        	<div>{{ post.text|truncatechars:400|safe }}</div>
	        	</div>
	   		</div>
		{% endfor %}
		</div>
	{% endblock %}